<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="public/css/styles.css">
</head>
<body>

<h1>NameTBD</h1>

{{#showHr @index}}
    <hr/>
{{/showHr}}

<div>
{{#each body as |elem|}}
<div class = "half-row">
	<p class = "top">{{elem.line1}}</p>
	<p class = "mid">{{elem.line2}}</p>
	<p class = "bot">{{elem.line3}}</p>
	<img src = {{elem.src}}>
</div>
{{/each}}
</div>

</body>
</html>