body {
    background: #B3E1D7;
    margin: 100px;
    font-family: sans-serif;
}
body > img {
    margin-top: -75px;
}
body > h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
p {
    z-index: 20;
}
.half-row {
    position: relative;
    text-align: center;
    color: #284a43;
    width: 38%;
    height: 240px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10px;
}
.half-row > p {
    position: absolute;
    top: 33%;
    left: 50%;
}
.half-row > p.top {
	transform: translate(-50%, -200%);
}
.half-row > p.mid {
	transform: translate(-50%, 0%);
}
.half-row > p.bot {
	transform: translate(-50%, 200%);
}
.half-row > img {
	background: rgba(39,62,84,0.82);
    height: 100%;
    filter: drop-shadow(0px 0px 0px);
    transition: all .35s;
    opacity: 0.3;
}
.half-row > img:hover {
    filter: drop-shadow(15px 15px 15px #222);
}
.container {
    display: flex;
}
.row {
    display: flex;
    justify-content: center;
}